body {
    font-family: 'Open Sans';
}

.text-justify {
    text-align: justify;
}

.umass {
    color: #971B2F;
    font-weight: bold;
}

.nav-pills .nav-link {
    color: #971B2F;
    /* Custom text color for inactive links */
}

.nav-pills .nav-link:hover {
    color: #572932;
}

.nav-pills .nav-link.active {
    color: white;
    background-color: #971B2F;
    border-radius: 0;
}

.body-container {
    min-height: 40vh;
}

#people a {
    text-decoration: none !important;
}

#people .card {
    border: none;
}

.profile-img-card {
    width: 100%;
    max-width: 175px;
    aspect-ratio: 1 / 1;
    margin: 1rem auto;
    overflow: hidden;
    background-color: #f8f9fa;
    border-radius: 0%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#seminar .bg-primary {
    background-color: #971B2F !important;
}

#calendar span {
    text-align: left;
}